{% extends 'layout.html.twig' %}

{% block main %}
    <br>
    <div class="card">

        <div class="card-header mb-3 align-item-md-center"><h3>Les campus</h3></div>
    <br>
    <div class="card-body">
    {% for campus in campus %}
        <ul>
    <li>{{ campus.nomCampus }}</li>
    </ul>
    {% endfor %}
    </div>
    </div>




{% endblock %}
